*{


    margin:0%;
    padding: 0%;
}
body{

    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
}
.container{

    max-width: 1000px;
    background-color: #E4F9F5;
    margin: 0 auto;
    padding: 20px;
}
.profile-image{

    width: 120px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}
.header-bio{

    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h6,h6{

    color: #11999e;
}
.header-contact{

    float:right;
    padding: 30px;
   
}
.header-contact a{

    text-decoration: none;
    color: teal;
    
}
.header-contact a:hover{

    text-decoration: underline;
    color: tomato;
}
.div-clear{
    clear: both;


}
hr{
    border: 3px solid black;
    width: 100%;
    margin-top: 10px auto;
    border-bottom: none;
}
.left-div{

    width: 30%;
    float:left
}
.right-div{
    width: 70%;
    float:left;
}
.content{
    margin-top: 25px;
    margin-bottom: 25px;
}
.common-hr{

    border: 1px solid black;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
.edu-leftdiv{

    width: 45%;
    float: left;
    box-sizing: border-box;
}
.edu-rightdiv{
    width: 45%;
    float:right ;
}
.ftr{

    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.ftr a{

    color: white;
    text-decoration: none;
    margin: 20px;
}
.ftr a:hover{

    color: rgba(238, 190, 57, 0.984);
    text-decoration:underline;
    margin: 20px;
}
.ftr p{
    color: white;
    margin-top: 20px;
}
.ana{
    
    margin-bottom: 5px;
}
        
        
        













































































